<h1>非梧不栖</h1>
<nav>
	<a href="/uncatelogued">
		<span>未分类</span>
		<span class="en">Uncatelogued</span>
	</a>
	<a href="/draft">
		<span>草稿箱</span>
		<span class="en">Draft</span>
	</a>
	<a href="/message">
		<span>留言</span>
		<span class="en">Leave a Msg</span>
	</a>
</nav>